<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 				
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<connectionStrings>
		<add name="BztMgmtDb" connectionString="Server=VMCDSBIZTALK;Initial Catalog=BizTalkMgmtDb;Integrated Security=SSPI;" />
	</connectionStrings>

	<appSettings>
		<add key="Backup.DefaultBackupPath" value="e:\backup"/>
		<add key="Backup.DefaultExportBindings" value="False"/>
		<add key="Backup.DefaultExportAssemblies" value="True"/>
		<add key="Backup.DefaultExportWebDirectories" value="False"/>
	</appSettings>
</configuration>
